.form{
    display:grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

.form__input{
    border: 2px solid #eee;
    padding: 10px;
}

.form__button{
    background-color: teal;
    color:white;
    padding:10px;
    border: none;
}

.form__button:hover{
    background-color: hsl(180, 100%, 35%);
}

.form__button:active{
    background-color: hsl(180, 100%, 45%);
}