.section{
    background-color: white;
    margin-bottom: 10px;
}

.section__header{   
    border-bottom: 2px solid #ddd;
    padding: 5px;
    padding-left: 25px;
}

.section__body{
    padding: 25px;
}

.section__body--withList{
    padding-left: 0;
}